body {
    color: inherit;
    color: #000;
    font-family:Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .025rem;
    line-height: 1.5rem;
}
#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #fff;
  }
  #navbar a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  .content {
    padding: 16px;
  }
  ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap:1rem; 
  }
  .product-list-item {
    width:20vw;
    height:30vh;
}